.app {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border-radius: 5px;
    max-height: 350px;
}

.app__heading {
    font-size: 16px;
    color: #0C49BF;
    margin-bottom: 10px;
}

.block__heading {
    font-size: 12px;
}

.block__websites {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.block__website {
    display: flex;
    flex-direction: row;
    /* min-width: 80px; */
    padding: 3px 7px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid black;
    text-transform: capitalize;
    font-size: 10px;
    z-index: 999;
}

.selected {
    color: white;
    background: #0C49BF;
    border: 1px solid #0C49BF;
}

.link-icon {
    z-index: 1
}

.link-name {
    margin: 0 4px;
    font-weight: 400;
}

.link-remove {
    width: 10px;
}

.block__website .link-remove {
    opacity: 0;
    transition: all .4s ease-in-out;
}

.block__website:hover .link-remove {
    opacity: 1;

}

.block__add-toggle {
    font-size: 10px;
    color: #0C49BF;
    cursor: pointer;
}

.block__input-form {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.block__input-text {
    font-size: 8px;
    width: 200px;
    height: 19px;
    padding: 0 8px;
    border: 1px solid #0C49BF;
    border-radius: 5px;
    outline: none;
}

.block__input-btn {
    display: flex;
    gap: 5px;
}

.block__add-btn {
    font-size: 10px;
    color: white;
    background-color: #0C49BF;
    border: none;
    cursor: pointer;
    padding: 2px 7px;
    border-radius: 5px;
}

.block__close {
    display: flex;
    align-items: center;
}

.fa-circle-xmark {
    width: 19px;
    cursor: pointer;
}

.redirect {
   display: flex;
   flex-direction: column;
   overflow: hidden;
}


.redirect__title {
    font-size: 12px;
    margin-top: 10px;
}

.redirect__content {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    
}

.redirect__content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.redirect-links {
    display: flex;
    align-items: center;
}

.redirect-links p {
    font-size: 10px;
    margin: 0 10px;
    width: 100%;
}

.redirect-btns {
    display: flex;
    gap: 10px;
}

.redirect-btns svg {
    cursor: pointer;
}

.edit-btn {
    color: #0C49BF;
}

.delete-btn {
    color: #F50909;
}

.app__footer {
    color: #0C49BF;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    margin-top: 10px;
}