.app {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border-radius: 5px;
    max-height: 350px;
}

.app__heading {
    font-size: 16px;
    color: #0C49BF;
    margin-bottom: 10px;
}

.block__heading {
    font-size: 12px;
}

.block__websites {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.block__website {
    display: flex;
}

.block__website button {
    display: flex;
    flex-direction: row;
    padding: 3px 7px;
    padding-right: 15px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid black;
    text-transform: capitalize;
    font-size: 10px;
}

.selected button {
    color: white;
    background: #0C49BF;
    border: 1px solid #0C49BF;
}

.link-icon {
    z-index: 1
}

.link-name {
    margin: 0 4px;
    font-weight: 400;
}

.link-remove {
    z-index: 3;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 10px;
    margin-left: -14px;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.selected .link-remove {
    color: white;
}

.block__website:hover .link-remove {
    opacity: 1;
}

.link-remove svg {
    width: 7px;
}
.block__add {
    line-height: 19px;
}

.block__add-toggle {
    font-size: 10px;
    color: #0C49BF;
    cursor: pointer;
    display: inline;
}

.block__input-form {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.block__input-text {
    font-size: 8px;
    width: 200px;
    height: 19px;
    padding: 0 8px;
    border: 1px solid #0C49BF;
    border-radius: 5px;
    outline: none;
}

.block__input-btn {
    display: flex;
    gap: 5px;
}

.block__add-btn {
    font-size: 10px;
    color: white;
    background-color: #0C49BF;
    border: none;
    cursor: pointer;
    padding: 2px 7px;
    border-radius: 5px;
}

.block__close {
    display: flex;
    align-items: center;
}

.fa-circle-xmark {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redirect {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.redirect__title {
    font-size: 12px;
    margin-top: 10px;
}

.redirect__content {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.redirect__content::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.redirect-links {
    display: flex;
    align-items: center;
}

.redirect-links p {
    font-size: 10px;
    margin: 0 10px;
    width: 100%;
    word-break: break-all;
}

.redirect-links input {
    font-size: 8px;
    margin: 0 10px;
    width: 100%;
    padding: 0 8px;
    border: 1px solid #0C49BF;
    border-radius: 5px;
    outline: none;
    height: 19px;
    font-weight: 400;
}

.redirect-btns {
    display: flex;
    gap: 10px;
    align-items: center;
}

.redirect-btns svg {
    cursor: pointer;
}

.edit-btn {
    color: #0C49BF;
    cursor: pointer;
}

.block__edit-btn {
    background: transparent;
    border: none;
    outline: none;
}

.delete-btn {
    color: #F50909;
}

.app__footer {
    color: #0C49BF;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    margin-top: 10px;
}
